* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tempPageSign {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-top: 10vh;
}

.linkStyle {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Inter', sans-serif;
}

.styled-button {
  padding: 0.7em;
  background: black;
  border: 2px solid black;
  border-radius: 2em;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  font-family: 'Inter', sans-serif;
}