* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tempPageSign {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-top: 10vh;
}

.linkStyle {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Inter', sans-serif;
}

.styled-button {
  padding: 0.7em;
  max-height: 50px;
  width: 100%;
  background: black;
  border: 2px solid black;
  border-radius: 2em;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.background {
  background-image: url("https://to-get.s3.us-west-2.amazonaws.com/background.png");
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.page {
  outline: 3px solid black;
  max-width: 1024px;
  min-height: 100vh;
  margin: auto;  
  position: relative;
}

button {
  cursor: pointer;
}

.hide-scroll::-webkit-scrollbar {
  display: none
}